.test_page
	| Hello on test page
	.test_wrap
		ul.users_list
			li(ng-repeat="user in test.users", ng-class-odd="'red'")
				| {{ user.first_name }} {{ user.last_name }} — {{ user.email }}
				button(ng-click="test.getInfo(user)")
					| Get info

		br
		textarea(ng-model="text", name="text")
		input
		br
		pre
			| {{ text }}