doctype html
html(ng-app="api")
	head
		title= pageTitle
		script(src="/vendor/jquery/dist/jquery.min.js")
		script(src="/vendor/angular/angular.js")
		//FIXME: Add dependency cookie
		script(src="/vendor/angular/angular-cookie.js")
		script(src="/vendor/angular-route/angular-route.js")
		script(src="/app.js")
		script(src="/route/route-config.js")
		script(src="/home/home.module.js")
		script(src="/home/home.ctrl.js")
		script(src="/page1/page1.module.js")
		script(src="/page1/page1.ctrl.js")
		script(src="/users/users.module.js")
		script(src="/users/users.ctrl.js")
		link(rel="stylesheet", type="text/css", href="/vendor/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", type="text/css", href="/css/main.css")
	body
		header
			h1= pageTitle

		.container
			.row
				.col-sm-9
					section.content(ng-view)
				.col-sm-3
					aside.sidebar
						include sidebar
