.ng-invalid.ng-dirty {
  border-color: orangered;
}

.ng-valid.ng-dirty {
  border-color: darkgreen;
}

h3.panel-heading {
  margin-top: 0;
}

.users_list .red {
  color: red;
}

.users_page {
  .pagination {
    margin: 0;
    > li:hover {
      cursor: pointer;
    }
  }
  .remove_btn {
    color: orangered;
    font: bold 15px/1 sans-serif;
    padding: 0;
    margin-right: 5px;
    background: none;
    border: none;
  }
}



